[Unit]
Description=Start Virtex USB-HID System
After=network.target

[Service]
ExecStart=/usr/bin/virtex-hid-start
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
