<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ heading }}</h1>
    <ul>
        {% for item in bitwardenItems %}
        <li>{{ item }}<a href="/hid/bw?ref={{ item }}"> vtx bw</a></li>
        {% endfor %}
    </ul>
    <ul>
        {% for item in vtextItems %}
        <li>{{ item }}<a href="/hid/kb/vtext?file={{ item }}"> vtx run</a></li>
        {% endfor %}
    </ul>
</body>
</html>